@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    background-color: #ffffff;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;


}




/* Estilo cabeçalho */

header{
    padding: 5px 4%;
    background-color: #add8e6;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff;
    text-decoration: none;
}

header a:hover{
    display: inline-block;
    color: #ffffcc;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

#logo img{
    max-width: 150px;
}