<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiração</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/inspiracoes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <div class="interface">
            <div class="desktop">

            </div>
            <div id="logo">
                <a href="../../../index.html">
                    <img src="../Image/logo.png" alt="Logo" />
                </a>
            </div>
            <nav class="menuDesktop">
                <ul>
                    <li><a href="../../../index.html">Início</a></li>
                    <li><a href="../recursos/recursos.html">Recursos</a></li>
                    <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                    <li><a href="../apoio/apoio.html">Apoio</a></li>
                </ul>
            </nav>
            <div class="btnAbrirMenu" id="btnMenu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menuMobile" id="menuMobile">
                <div class="btnFechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <div id="logoMobile">
                        <a href="../../../index.html">
                            <img src="../Image/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <ul>
                        <li><a href="../../../index.html">Início</a></li>
                        <li><a href="../recursos/recursos.html">Recursos</a></li>
                        <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                        <li><a href="../apoio/apoio.html">Apoio</a></li>
                    </ul>
                </nav>
            </div>
            <div class="overlayMenu" id="overlayMenu">

            </div>
        </div>
    </header>
<main>
    <div class="content">
        <div id="inspiration-modal" class="modal">
            <span id="close" class="close" onclick="closeModal()">&times;</span>
            <div class="modal-content" id="inspiration-content">
                <div id="inspiration-card" class="inspiration-card">
                    <h1 id="inspiration-title"></h1>
                    <img id="inspiration-image" src="" alt="Inspiração">
                    <article id="inspiration-description"></article>
                </div>
            </div>
        </div>
                
        <div class="image-inspiration">
            <img src="../Image/superaçao.png.jpg" alt="Inspiração">
        </div>
        <div id="mini-cards" class="mini-cards">
            <h1>Historias de superação</h1>
            <h4>Inspire-se com relatos emocionantes de pessoas que encontraram apoio</h4>
            <section id="cards-section" class="cards-section">
                <div id="description-cards" class="description-cards"></div>

            </section>
        </div>
    </div>
</main>


<script src="./SCRIPT/inspiracoes.js"></script>
<script src="../home/script.js"></script>
</body>
</html>
