<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiração</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/inspiracoes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <div class="interface">
            <div class="desktop">

            </div>
            <div id="logo">
                <a href="../../../index.html">
                    <img src="../Image/logo.png" alt="Logo" />
                </a>
            </div>
            <nav class="menuDesktop">
                <ul>
                    <li><a href="../../../index.html">Início</a></li>
                    <li><a href="../recursos/recursos.html">Recursos</a></li>
                    <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                    <li><a href="../apoio/apoio.html">Apoio</a></li>
                </ul>
            </nav>
            <div class="btnAbrirMenu" id="btnMenu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menuMobile" id="menuMobile">
                <div class="btnFechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <div id="logoMobile">
                        <a href="../../../index.html">
                            <img src="../Image/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <ul>
                        <li><a href="../../../index.html">Início</a></li>
                        <li><a href="../recursos/recursos.html">Recursos</a></li>
                        <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                        <li><a href="../apoio/apoio.html">Apoio</a></li>
                    </ul>
                </nav>
            </div>
            <div class="overlayMenu" id="overlayMenu">

            </div>
        </div>
    </header>
    <main>
        <section class="headerTitle">
            <h1>Histórias Inspiradoras - Saúde Mental</h1>
            <p>Encontre conforto e inspiração nas jornadas de superação compartilhadas abaixo.</p>
        </section>
        <div id="cards-section" class="cards-section">
            <!-- Mini cartões de histórias serão adicionados aqui via JavaScript -->
        </div>
    
        <div id="inspiration-modal" class="modal">
            <div class="modal-content">
                <span id="close" class="close">&times;</span>
                <div id="inspiration-content">
                    <h2 id="inspiration-title" class="inspiration-title"></h2>
                    <img id="inspiration-image" class="inspiration-image" src="" alt="Imagem da Inspiração">
                    <p id="inspiration-description" class="inspiration-description"></p>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Saúde Mental e Bem-Estar</p>
    </footer>


    <script src="./SCRIPT/inspiracoes.js"></script>
    <script src="../home/script.js"></script>
</body>

</html>