<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiração</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/inspiracoes.css">
</head>
<body>
 <header>
        <div class="interface">
            <div id="logo">
                <a href="../../../index.html">

                    <img src="../Image/logo.png" alt="Logo" > 
                </a>
            </div>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="../../../index.html">Início</a></li>
                        <li><a href="../recursos/recursos.html">Recursos</a></li>
                        <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                        <li><a href="../apoio/apoio.html">Apoio</a></li>
                    </ul>
               
                </nav>
            </div>
    </header>
          <main>
    <div class="content" id="content">
        <div class="card"  id="inspiration-card"></div>
    <div id="mini-cards">
        <div class="image-inspiration">
            <img src="../Image/LizzieVelasquez.png" alt="Inspiração">
        </div>

        <section id="cards-section">
            <h1>Historias de superação</h1>
            <h4>Inspire-se com relatos emocionantes de pessoas que encontraram apoio</h4>
        </section>
    </div>

</div>


</main>
<script src="../home/script.js"></script>
<script src="./SCRIPT/inspiracoes.js"></script>
</body>
</html>
