

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.mini-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mini-card:hover {
  transform: translateY(-5px);
}

.mini-card img {
  width: 100%;
  border-radius: 8px;
  
}

.modal {
  display: none;
  position: fixed; /* Fixa o modal na tela */
  z-index: 999;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza completamente */
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%; /* Define a largura máxima do modal */
  max-height: 80%; /* Define a altura máxima do modal */
  overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo do modal for maior que a altura máxima */
}



.modal-content {
  position: relative;
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.inspiration-title {
  text-align: center;
  margin-bottom: 10px;
}

.inspiration-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
  border: 3px solid #133551;

}

.inspiration-description {
  text-align: justify;
}


.headerTitle{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle h1{
  color: #133551;
}

.headerTitle p{
  font-size: 20px;
}
.description{
  padding-top: 20px;

}

.description h2{
  color: #133551;
  padding-top: 20px;

}

.description h3{
  color: black;
  padding-top: 20px;

}