
.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0 40px; 
    font-size: 30px;
}

.resources p {
    margin-top: 50px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;

}


.indice {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.indice h2 {
    grid-column: 1;
}

.conteudo {
    grid-column: 2;
}

.conteudo h3 {
    margin-top: 0; /* Remove a margem superior do título */
}

