
.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0 40px;
}

.resources p {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    

}
