.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #133551;
}

.info-container {
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    flex-wrap: wrap;
    justify-content: space-between; 
    
}

.info {
    margin-top: 40px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: calc(50% - 20px);
}

.info p{
    font-size: 18px;
    font-weight: bold;
    color:#00bbf4;
}

.sus-logo {
    max-width: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.sus-logo:hover {
    opacity: 0.8; 
}

.cvv-info {
    flex: 0 0 50%;
}

.cvv-logo {
    max-width:30%;
    margin-bottom: 5px;
}

.public-info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 0;
    max-width: 600px;
}

.public-info p {
    width: 100%;
    max-width: 100%;
    text-align: justify;
    font-size: 16px;
}

.more-info-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f17894;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; 
}

.more-info-button:hover {
    background-color: #90ee90;
}

.text {
    text-align: justify;
}

.options {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
}

.caption{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #133551;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.filter, .search {
    display: flex;
    align-items: center;
}

.filter label, .search label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.filter select, .search input {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.filter select {
    background-color: #f8f8f8;
}

.search input {
    width: 200px;
}

.search input::placeholder {
    color: #999;
}

.filter select:focus, .search input:focus {
    border-color: #f17894;
    box-shadow: 0 0 5px rgba(144, 238, 144, 0.5);
}

.card-container {
    margin-bottom: 70px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fff;
    width: calc(50% - 40px);
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 25px;
}

.card-content {
    padding: 10px 14px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content img {
    max-width: 25%;
    max-height: 25%;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.region, .type, .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #f17894;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.button:hover {
    background-color: #90ee90;
}

.view-more {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
}

.view-more:hover {
    background-color: #90ee90;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 0 10px;
    }

    .info {
        flex-basis: calc(100% - 20px);
    }

    .sus-logo,
    .cvv-logo {
        margin-bottom: 10px;
    }

    .cvv-info {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .public-info {
        flex-basis: calc(100% - 20px);
    }

    .filter-container {
        flex-direction: column;
    }

    .filter, .search {
        width: 100%;
    }

    .search input {
        width: 100%;
    }

    .card {
        width: calc(100% - 20px);
        margin-right: 0;
    }
}