<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apoio</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/apoio.css">
</head>
<body>
    <header>
        <div class="interface">
            <div id="logo">
                <a href="../../../index.html">
                    <img src="../Image/logo.png" alt="Logo"> 
                </a>
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="../../../index.html">Início</a></li>
                    <li><a href="../recursos/recursos.html">Recursos</a></li>
                    <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                    <li><a href="../apoio/apoio.html">Apoio</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-container">
        <h2 class="title">Contato e Apoio</h2>
        <div class="container">
            <div class="img-info">
                <a href="https://www.saude.gov.br/">
                    <img class="sus-logo" src="./img/meu-sus.png" alt="SUS Logo">
                </a>
                <div class="cvv-info">
                    <img class="cvv-logo" src="./img/cvv.png" alt="CVV Logo">
                    <p>Disque 188</p>
                </div>
            </div>
            
            <div class="public-info">
                <p class="text">Se você ou alguém que você conhece está passando por uma crise, saiba que existem recursos disponíveis para oferecer apoio e atendimento. É importante buscar ajuda profissional para lidar com crises de saúde mental. Isso pode incluir psicoterapia, medicamentos prescritos por um profissional de saúde mental, grupos de apoio ou serviços de emergência. </p>
                <p class="text">Não hesite em contatar linhas diretas de apoio, como o Centro de Valorização da Vida, ou procurar a sua Unidade Básica de Saúde (UBS) e o Centro de Atenção Psicossocial (CAPS) local para obter orientação e suporte.</p>
                <p class="text">Lembre-se de que você não está sozinho e há pessoas dispostas a ajudar você a superar momentos difíceis</p>
                <a href="https://www.gov.br/saude/pt-br/composicao/saes/desmad/raps/caps" class="button">Mais informações aqui</a>
            </div>
        </div>
        
        <div class="predef">
            <p class="caption">Além dos serviços da rede pública, existem outras instituições que oferecem apoio em saúde mental com valores acessíveis ou próximos a gratuidade.<br> Consulte aqui algumas organizações e canais de atendimento:</p>
        </div>
        
        <div class="filter-container">
            <div class="filter">
                <label class="filter" for="type-filter">Filtrar por:</label>
                <select id="type-filter">
                    <option value="all">Todos</option>
                    <option value="online">Online</option>
                    <option value="presencial">Presencial</option>
                </select>
            </div>
            
            <div class="search">
                <label for="region-search">Buscar região:</label>
                <input type="text" id="region-search" placeholder="Digite a região...">
            </div>
            
        </div>
        
        <div class="slide-container">
            <div class="slide-content" id="slider">
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 Saúde Mental e Bem-Estar</p>
    </footer>
    
    <script src="./SCRIPT/apoio.js"></script>
</body>
</html>
