<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apoio</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/apoio.css">
</head>
<body>
 <header>
        <div class="interface">
            <div id="logo">
                <a href="../../../index.html">

                    <img src="../Image/logo.png" alt="Logo" > 
                </a>
            </div>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="../../../index.html">Início</a></li>
                        <li><a href="../recursos/recursos.html">Recursos</a></li>
                        <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                        <li><a href="../apoio/apoio.html">Apoio</a></li>
                    </ul>
               
                </nav>
            </div>
    </header>













<script src="../../JS/script.js"></script>
<script src="./SCRIPT/apoio.js"></script>
</body>
</html>