<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="stylesheet" href="../home/style.css">
    <link rel="stylesheet" href="./CSS/recursos.css">
</head>
<body>
 <header>
        <div class="interface">
            <div id="logo">
                <a href="../../../index.html">

                    <img src="../Image/logo.png" alt="Logo" > 
                </a>
            </div>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="../../../index.html">Início</a></li>
                        <li><a href="../recursos/recursos.html">Recursos</a></li>
                        <li><a href="../inspirações/inspiracao.html">Inspirações</a></li>
                        <li><a href="../apoio/apoio.html">Apoio</a></li>
                    </ul>
               
                </nav>
        </div>

    </header>

    <div class="container">
        <h1>Recursos e Ferramentas</h1>
        
        <div class="resources">
            <p>Quando a saúde mental não vai bem, existem diversas alternativas que podem tratar e amenizar os sintomas. É o que iremos apresentar aqui:</p>
        </div>
    </div>

  













<script src="../recursos/SCRIPT/recursos.js"></script>
<script src="./SCRIPT/recursos.js"></script>
</body>
</html>